@page
@model FlightSearching.Pages.TestingModel
@{
    ViewData["Title"] = "API Testing";
}
<h1>Call API</h1>

<form method="post" action="/Testing">
    <button type="submit">Call API</button>
</form>
